<div class="row">
  <div class="col-xs-9 col-sm-6 all-events">All Events</div>
  <div class="col-xs-9 col-sm-6 my-events">My Events</div>
</div>

<hr>

<div class="row">
  <div class="col-xs-9 col-sm-6 event">
    <h3><%= Event.first.artist %> - "<%= Event.first.title %>"</h3>
    <div class="rest" style="display:none">
      <p><a href=""><%= Venue.first.name %></a>
      <p><a><%= Venue.first.address %></a> | <%= Venue.first.district %></%>
      <p><a><%= Event.first.date %> | <%= Event.first.time %><a>
    </div>
  </div>
  <div class="col-xs-9 col-sm-6">
  </div>
</div>