<% form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venue.errors.count, "error") %> prohibited this event from being saved:
      </h2>
      <ul>
        <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %><br>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %><br>
  </div>
  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_label :district %><br>
  </div>
<% end %>
